@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(113, 32, 167);
  color: rgb(219, 65, 129);
  width: 100%;
  font-family: "Lobster", cursive;
}

.logo {
  font-size: 40px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}
.logo span {
  color: black;
}

.menuNav {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-family: "Lobster", cursive;
  background-color: black;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 10px;
  margin: 0;
}
.menuNav li {
  list-style: none;
}
.menuNav a {
  text-decoration: none;
  color: rgb(219, 65, 129);
}
.menuNav a:hover {
  color: rgb(113, 32, 167);
}

.imgHome {
  height: 300px;
  width: 100%;
  background-image: url(../multimedia/pc.jpg);
  background-position: center;
}

.produHome {
  background-color: rgb(113, 32, 167);
  color: black;
  padding: 10px;
}
.produHome h2 {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.sectProdu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: rgb(113, 32, 167);
  height: 400px;
}
.sectProdu .item1 {
  background-image: url(../multimedia/cpu1.jpg);
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding-right: 40px;
}
.sectProdu .item1 h3 {
  text-align: start;
  padding-top: 10px;
  padding-left: 10px;
  color: rgb(219, 65, 129);
  font-family: "Lobster", cursive;
  font-size: 25px;
}
.sectProdu .item2 {
  background-image: url(../multimedia/notebook.png);
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.sectProdu .item2 h3 {
  text-align: center;
  padding-top: 15px;
  padding-left: 180px;
  color: rgb(219, 65, 129);
  font-family: "Lobster", cursive;
  font-size: 25px;
}
.sectProdu .item3 {
  background-image: url(../multimedia/rigmineria.png);
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.sectProdu .item3 h3 {
  text-align: start;
  padding-top: 165px;
  color: rgb(219, 65, 129);
  font-family: "Lobster", cursive;
  font-size: 25px;
  padding-left: 10px;
}
.sectProdu .item4 {
  background-image: url(../multimedia/placadevideo.jpg);
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.sectProdu .item4 h3 {
  text-align: center;
  padding-top: 10px;
  color: rgb(219, 65, 129);
  font-family: "Lobster", cursive;
  font-size: 25px;
}
.sectProdu .item5 {
  background-image: url(../multimedia/celulares.jpg);
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.sectProdu .item5 h3 {
  text-align: start;
  padding-top: 10px;
  padding-left: 5px;
  color: rgb(219, 65, 129);
  font-family: "Lobster", cursive;
  font-size: 25px;
}
.sectProdu .item6 {
  background-image: url(../multimedia/setup.jpg);
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.sectProdu .item6 h3 {
  text-align: start;
  padding-top: 10px;
  padding-left: 5px;
  color: rgb(219, 65, 129);
  font-family: "Lobster", cursive;
  font-size: 25px;
}
.sectProdu .item7 {
  background-image: url(../multimedia/perifericos.jpg);
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.sectProdu .item7 h3 {
  text-align: start;
  padding-top: 10px;
  padding-left: 5px;
  color: rgb(219, 65, 129);
  font-family: "Lobster", cursive;
  font-size: 25px;
}
.sectProdu .item8 {
  background-image: url(../multimedia/ram.png);
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.sectProdu .item8 h3 {
  text-align: right;
  padding-top: 150px;
  padding-right: 10px;
  color: rgb(219, 65, 129);
  font-family: "Lobster", cursive;
  font-size: 25px;
}

.servHome {
  background-color: rgb(113, 32, 167);
  padding: 10px;
}
.servHome h2 {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 30px;
  color: black;
}

.sectServicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  font-family: "Lobster", cursive;
  background-color: rgb(219, 65, 129);
  height: 200px;
}
.sectServicios h3 {
  font-size: 25px;
  color: rgb(113, 32, 167);
  padding-top: 10px;
}

.ser1 h3:hover {
  font-size: 30px;
}

.ser2 h3:hover {
  font-size: 30px;
}

.ser3 h3:hover {
  font-size: 30px;
}

.ser4 h3:hover {
  font-size: 30px;
}

.ser5 h3:hover {
  font-size: 30px;
}

.ser6 h3:hover {
  font-size: 30px;
}

.divFooterHome {
  background-color: black;
  color: white;
  font-family: "Lobster", cursive;
  text-align: center;
  padding: 10px;
}
.divFooterHome h2 {
  font-size: 26px;
}
.divFooterHome li {
  list-style: none;
}

.redesHome {
  color: white;
  background-color: black;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  letter-spacing: 10px;
}

.botonInicio {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Lobster", cursive;
  padding: 10px;
}
.botonInicio a {
  text-decoration: none;
  color: rgb(113, 32, 167);
}
.botonInicio a:hover {
  color: rgb(219, 65, 129);
}

/* página productos */
.sectProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "txt1 txt1 txt2 txt2" "txt3 txt4 txt5 txt6" "txt7 txt7 txt8 txt8";
  padding: 15px;
  background-image: linear-gradient(white, rgb(219, 65, 129));
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 18px;
}

.prod1 {
  grid-area: txt1;
  padding: 10px;
  border-bottom: 2px solid black;
}

.prod1:hover {
  border-color: rgb(113, 32, 167);
  color: rgb(113, 32, 167);
  font-size: 22px;
}

.prod2 {
  grid-area: txt2;
  padding: 10px;
  border-bottom: 2px solid black;
}

.prod2:hover {
  border-color: rgb(113, 32, 167);
  color: rgb(113, 32, 167);
  font-size: 22px;
}

.prod3 {
  grid-area: txt3;
  padding: 10px;
}

.prod3:hover {
  border-color: rgb(113, 32, 167);
  color: rgb(113, 32, 167);
}

.prod4 {
  grid-area: txt4;
  padding: 10px;
}

.prod4:hover {
  border-color: rgb(113, 32, 167);
  color: rgb(113, 32, 167);
}

.prod5 {
  grid-area: txt5;
  padding: 10px;
}

.prod5:hover {
  border-color: rgb(113, 32, 167);
  color: rgb(113, 32, 167);
}

.prod6 {
  grid-area: txt6;
  padding: 10px;
}

.prod6:hover {
  border-color: rgb(113, 32, 167);
  color: rgb(113, 32, 167);
}

.prod7 {
  grid-area: txt7;
  padding: 10px;
  border-top: 2px solid black;
  padding-top: 40px;
}

.prod7:hover {
  border-color: rgb(113, 32, 167);
  color: rgb(113, 32, 167);
  font-size: 22px;
}

.prod8 {
  grid-area: txt8;
  padding: 10px;
  border-top: 2px solid black;
  padding-top: 40px;
}

.prod8:hover {
  border-color: rgb(113, 32, 167);
  color: rgb(113, 32, 167);
  font-size: 22px;
}

/* página servicios */
.d-block {
  height: 600px;
}

#car {
  color: black;
}

.carousel-caption {
  font-size: 25px;
  font-weight: bold;
  font-family: "Lobster", cursive;
}

.tituloForm {
  background-color: rgb(113, 32, 167);
  color: rgb(219, 65, 129);
  text-align: center;
  font-family: "Lobster", cursive;
  padding: 10px;
  margin: 0;
}

.form, .formulario {
  background-color: rgb(113, 32, 167);
  color: rgb(219, 65, 129);
  text-align: center;
  font-family: "Lobster", cursive;
  padding-bottom: 20px;
}
.form h4, .formulario h4 {
  padding: 5px;
}

/* pagina nosotros */
.imgNosotros {
  background-image: url(../multimedia/nosotros1.jpg);
  height: 500px;
  background-position: center;
  font-family: "Lobster", cursive;
  color: black;
  text-align: center;
}
.imgNosotros h2 {
  font-size: 30px;
  padding-top: 130px;
  padding-left: 500px;
  text-shadow: 0.1em 0.1em 0.2em white;
}
.imgNosotros p {
  font-size: 25px;
  padding-left: 220px;
  text-shadow: 0.1em 0.1em 0.2em white;
}

/* pagina oficina */
.sectOfi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.sectOfi .ofi1 {
  background-image: url(../multimedia/oficina.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;
}
.sectOfi .ofi4 {
  height: 450px;
  background-color: white;
}
.sectOfi .ofi4 iframe {
  width: 100%;
}
.sectOfi .ofi2 {
  background-image: linear-gradient(white, rgb(219, 65, 129));
  font-family: "Lobster", cursive;
  text-align: center;
  padding-top: 150px;
  font-size: 23px;
  text-shadow: 0.1em 0.1em 0.2em white;
  color: black;
}
.sectOfi .ofi3 {
  background-image: linear-gradient(rgb(219, 65, 129), white);
  font-family: "Lobster", cursive;
  text-align: center;
  padding-top: 180px;
  font-size: 23px;
  text-shadow: 0.1em 0.1em 0.2em white;
  color: black;
}

/* pagina de contacto */
.parrafo-28px {
  font-size: 28px;
  color: Black;
}

.parrafo-20px {
  font-size: 20px;
  color: white;
}

.parrafos .p1 {
  background-color: rgb(219, 65, 129);
}
.parrafos .p1 p {
  margin: 0;
}
.parrafos .p2 {
  background-color: rgb(113, 32, 167);
  margin: 0;
  text-align: center;
}

.p1 {
  text-align: center;
  height: 50px;
  text-shadow: 0.1em 0.1em 0.2em white;
  font-family: "Lobster", cursive;
}

.p2 {
  text-align: end;
  height: 100px;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-family: "Lobster", cursive;
  padding: 20px;
}

.tituloForm {
  font-family: "Lobster", cursive;
  background-color: rgb(219, 65, 129);
  color: rgb(113, 32, 167);
  text-shadow: 0.1em 0.1em 0.2em white;
}

.formulario {
  padding: 15px;
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .menuNav {
    padding: 10px;
    font-size: 20px;
  }
  .sectProdu {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 1600px;
  }
  .sectServicios h3 {
    font-size: 20px;
    text-align: center;
  }
  .botonInicio h4 {
    font-size: 20px;
  }
  .d-block {
    height: 250px;
  }
  .form, .formulario {
    padding-top: 10px;
  }
  .sectProductos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "txt1" "txt2" "txt3" "txt4" "txt5" "txt6" "txt7" "txt8";
  }
  .prod2 h3 {
    padding-top: 25px;
  }
  .prod3 {
    border-bottom: 2px solid black;
  }
  .prod3 h3 {
    padding-top: 45px;
  }
  .prod4 {
    border-bottom: 2px solid black;
  }
  .prod4 h3 {
    padding-top: 15px;
  }
  .prod5 {
    border-bottom: 2px solid black;
  }
  .prod5 h3 {
    padding-top: 35px;
  }
  .prod6 h3 {
    padding-top: 30px;
  }
  .prod8 h3 {
    padding-top: 20px;
  }
  .imgNosotros {
    height: 330px;
  }
  .imgNosotros h2 {
    padding: 1px;
    font-size: 24px;
  }
  .imgNosotros p {
    font-size: 18px;
    padding: 2px;
  }
  .sectOfi {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 400px);
  }
  .sectOfi .ofi1 {
    background-position: center;
    background-size: cover;
  }
  .sectOfi .ofi2 {
    padding: 50px;
  }
  .sectOfi .ofi3 {
    padding: 50px;
  }
  .sectOfi .ofi4 {
    height: 400px;
  }
  .sectOfi .ofi4 iframe {
    height: 400px;
  }
  .p1 {
    height: 130px;
  }
  .p2 {
    height: 190px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sectProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "txt1 txt2" "txt4 txt6" "txt7 txt8" "txt3 txt5";
  }
  .prod7 {
    border: none;
  }
  .prod8 {
    border: none;
  }
  .prod1 {
    border: none;
  }
  .prod2 {
    border: none;
  }
  .d-block {
    height: 400px;
  }
  .form, .formulario {
    padding-top: 10px;
  }
  .imgNosotros {
    height: 300px;
  }
  .imgNosotros h2 {
    padding-top: 20px;
    font-size: 24px;
  }
  .imgNosotros p {
    font-size: 18px;
    padding: 10px;
  }
  .p1 {
    height: 90px;
  }
  .p2 {
    height: 130px;
  }
}

/*# sourceMappingURL=estilos.css.map */
