@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color1:rgb(219, 65, 129);
$color2:rgb(113, 32, 167);
$fuente:'Lobster', cursive;
header{
    background-color: rgb(113, 32, 167);
    color: $color1;
    width: 100%;
    font-family: 'Lobster', cursive;
}
.logo{
    font-size: 40px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    span{
        color: black;
    }
}
.menuNav{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    background-color: black;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 10px;
    margin: 0;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: $color1;
    }
    a:hover{
        color:$color2;
    }
}
.imgHome{
    height: 300px;
    width: 100%;
    background-image: url(../multimedia/pc.jpg);
    background-position: center;
    
}
.produHome{
    background-color: rgb(113, 32, 167);
    color: black;
    padding: 10px;
    h2{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    }
}
.row{
    background-color: $color1;
    padding-left: 210px;
    padding-top: 25px;
}
.card{
    height: 435px;
    width: 300px;
}
.servHome{
    background-color: $color2;
    padding: 10px;
    h2{
        text-align: center;
        font-family: $fuente;
        font-size: 30px;
        color: black;
    }
}
.sectServicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    font-family: $fuente;
    background-color: $color1;
    height: 200px;
    h3{
        font-size: 25px;
        color: $color2;
        padding-top: 10px;
        a{
            text-decoration: none;
            color: $color2;
        }
    }
}
.ser1 h3:hover{
    font-size: 30px;
}
.ser2 h3:hover{
    font-size: 30px;
}
.ser3 h3:hover{
    font-size: 30px;
}
.ser4 h3:hover{
    font-size: 30px;
}
.ser5 h3:hover{
    font-size: 30px;
}
.ser6 h3:hover{
    font-size: 30px;
}
.divFooterHome{
    background-color: black;
    color: white;
    font-family: $fuente;
    text-align: center; 
    padding: 10px;
    h2{
        font-size: 26px;
    }
    li{
        list-style: none;
    }
}
.redesHome{
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    letter-spacing: 10px;
}
.botonInicio{
    background-color: black;
    color: white;
    text-align: center;
    font-family: $fuente;
    padding: 10px;
    a{
        text-decoration: none;
        color: $color2;
    }
    a:hover{
        color:$color1;
    }
}

/* página productos */

.sectProductos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:"txt1 txt1 txt2 txt2"
                        "txt3 txt4 txt5 txt6"
                        "txt7 txt7 txt8 txt8";
    padding: 15px;
    background-image: linear-gradient(white, $color1);
    font-family: $fuente;
    text-align: center;
    font-size: 18px;
}
.prod1{
        grid-area: txt1;
        padding: 10px;
        border-bottom: 2px solid black;
    }
.prod1:hover{
    border-color: $color2;
    color: $color2;
    font-size: 22px;
}
.prod2{
        grid-area: txt2;
        padding: 10px;
        border-bottom: 2px solid black;
    }
.prod2:hover{
        border-color: $color2;
        color: $color2;
        font-size: 22px;
}
.prod3{
        grid-area: txt3;
        padding: 10px;
    }
.prod3:hover{
        border-color: $color2;
        color: $color2;
}
.prod4{
        grid-area: txt4;
        padding: 10px;
    }
.prod4:hover{
        border-color: $color2;
        color: $color2;
}
.prod5{
        grid-area: txt5;
        padding: 10px;
    }
.prod5:hover{
        border-color: $color2;
        color: $color2;
}
.prod6{
        grid-area: txt6;
        padding: 10px;
    }
.prod6:hover{
        border-color: $color2;
        color: $color2;
}
.prod7{
        grid-area: txt7;
        padding: 10px;
        border-top: 2px solid black;
        padding-top: 40px;
    }
.prod7:hover{
        border-color: $color2;
        color: $color2;
        font-size: 22px;
}
.prod8{
        grid-area: txt8;
        padding: 10px;
        border-top: 2px solid black;
        padding-top: 40px;
    }
.prod8:hover{
        border-color: $color2;
        color: $color2;
        font-size: 22px;
}
.boton{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* página servicios */

.d-block{
    height: 600px;
}
#car{
    color: black;
}
.carousel-caption{
    font-size: 25px;
    font-weight: bold;
    font-family: $fuente;
}
.tituloForm{
    background-color: $color2;
    color: $color1;
    text-align: center;
    font-family: $fuente;
    padding: 10px;
    margin: 0;
}
.form{
    background-color: $color2;
    color: $color1;
    text-align: center;
    font-family: $fuente;
    padding-top: 15px;
    padding-bottom: 20px;
    h4{
        padding: 5px;
    }
}

/* pagina nosotros */

.imgNosotros{
    background-image: url(../multimedia/nosotros1.jpg);
    height: 500px;
    background-position: center;
    font-family: $fuente;
    color: black;
    text-align: center;
    h2{
        font-size: 30px;
        padding-top: 130px;
        padding-left: 500px;
        text-shadow: 0.1em 0.1em 0.2em white;
    }
    p{
        font-size: 25px;
        padding-left: 220px;
        text-shadow: 0.1em 0.1em 0.2em white;
    }
}

/* pagina oficina */ 

.sectOfi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .ofi1{
        background-image: url(../multimedia/oficina.jpg);
        background-position: center;
        background-size: cover;
        height: 450px;
    }
    .ofi4{
        height: 450px;
        background-color: white;
        iframe{
            width: 100%;
        }
    }
    .ofi2{
        background-image: linear-gradient(white, $color1);
        font-family: $fuente;
        text-align: center;
        padding-top: 150px;
        font-size: 23px;
        text-shadow: 0.1em 0.1em 0.2em white;
        color: black;
    }
    .ofi3{
        background-image: linear-gradient($color1, white);
        font-family: $fuente;
        text-align: center;
        padding-top: 180px;
        font-size: 23px;
        text-shadow: 0.1em 0.1em 0.2em white;
        color: black;
    }
}

/* pagina de contacto */ 

$mapa: (
    28px: Black,
    20px: white,
);
@each $size, $color in $mapa {
    .parrafo-#{$size} {
        font-size: $size;
        color: $color;
    }
}
.parrafos{
    .p1{
        background-color: $color1;
        p{
            margin: 0;
        }
    }
    .p2{
        background-color: $color2;
        margin: 0;
        text-align: center;
    }
}
@mixin par ($ta, $h, $textsh) {
    text-align: $ta;
    height: $h;
    text-shadow: $textsh;
}
.p1 {
    @include par (center, 50px, 0.1em 0.1em 0.2em white);
    font-family: $fuente
}
.p2{
    @include par (end, 100px, 0.1em 0.1em 0.2em black);
    font-family: $fuente;
    padding: 20px;
}
.tituloForm{
    font-family: $fuente;
    background-color: $color1;
    color: $color2;
    text-shadow: 0.1em 0.1em 0.2em white;
}
.formulario{
    @extend .form;
    padding: 15px;
}

@media only screen and (min-width:425px) and (max-width:767px) {
    .row{
        padding: 0;
        margin: 0;
    }
    .col{
        padding-left: 62px;
        padding-top: 20px;
    }
    .menuNav{
        padding: 10px;
        font-size: 20px;
    }
    .sectProdu{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        height: 1600px;
    }
    .sectServicios{
        h3{
            font-size: 20px;
            text-align: center;
        }
    }
    .botonInicio{
        h4{
            font-size: 20px;
        }
    }
    .d-block{
        height: 250px;
    } 
    .form{
        padding-top: 10px;
    }
    .sectProductos{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:"txt1"
                            "txt2"
                            "txt3"
                            "txt4"
                            "txt5"
                            "txt6"
                            "txt7"
                            "txt8";
    }
    .prod2{
        h3{
            padding-top: 25px;
        }
    }
    .prod3{
        border-bottom: 2px solid black;
        h3{
            padding-top: 45px;
        }
    }
    .prod4{
        border-bottom: 2px solid black;
        h3{
            padding-top: 15px;
        }
    }
    .prod5{
        border-bottom: 2px solid black;
        h3{
            padding-top: 35px;
        }
    }
    .prod6{
        h3{
            padding-top: 30px;
        }
    }
    .prod8{
        h3{
            padding-top: 20px;
        }
    }
    .imgNosotros{
        height: 330px;
        h2{
            padding: 1px;
            font-size: 24px;
        }
        p{
            font-size: 18px;
            padding: 2px;
        }
    }
    .sectOfi{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 400px);
        .ofi1{
            background-position: center;
            background-size: cover;
        }
        .ofi2{
            padding: 50px;
        }
        .ofi3{
            padding: 50px;
        }
        .ofi4{
            height: 400px;
            iframe{
                height: 400px;
            }
        }
    }
    .p1{
        height: 130px;
    }
    .p2{
        height: 190px;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .sectProductos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:"txt1 txt2"
                            "txt4 txt6"
                            "txt7 txt8"
                            "txt3 txt5";
    }
    .prod7{
        border: none;
    }
    .prod8{
        border: none;
    }
    .prod1{
        border: none;
    }
    .prod2{
        border: none;
    }
    .d-block{
        height: 400px;
    }
    .form{
        padding-top: 10px;
    }
    .imgNosotros{
        height: 300px;
        h2{
            padding-top: 20px;
            font-size: 24px;
        }
        p{
            font-size: 18px;
            padding: 10px;
        }
    }
    .p1{
        height: 90px;
    }
    .p2{
        height: 130px;
    }
}